@charset "utf-8";
@import url("//fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html {
  font: 62.5% 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
body {
  background: #fff;
  color: #000;
  font: 1.6rem 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #2a8998;
}
strong,
b {
  font-weight: bold;
}
em {
  font-style: italic;
}
code {
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
del {
  text-decoration: line-through;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
:root sub,
:root sup {
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.2em;
}
acronym,
abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
}
abbr {
  cursor: help;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: bold;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: color-fefault;
}
pre,
code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  font-size: 1em;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.entry-content .gist {
  background: color-code;
  border: 1px solid #ccc;
  margin-top: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  color: #666;
}
.entry-content .gist .gist-file {
  border: none;
  font-family: inherit;
  margin: 0;
  font-size: 0.9em;
}
.entry-content .gist .gist-file .gist-data {
  background: none;
  border-bottom: none;
}
.entry-content .gist .gist-file .gist-data pre {
  padding: 0 !important;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.entry-content .gist .gist-file .gist-meta {
  background: none;
  color: #999;
  margin-top: 5px;
  padding: 0;
  text-shadow: 0 0 1px #fff;
  font-size: 100%;
}
.entry-content .gist .gist-file .gist-meta a {
  color: #33a6b8;
}
.entry-content .gist .gist-file .gist-meta a:visited {
  color: #33a6b8;
}
figure.highlight {
  background: color-code;
  border: 1px solid #ccc;
  margin: 0;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: #999;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight th {
  font-weight: normal;
  border-bottom: 0;
  padding-bottom: 0;
}
figure.highlight td {
  border-bottom: 0;
  padding: 0;
}
figure.highlight .gutter {
  color: #999;
  padding-right: 20px;
  text-align: left;
}
figure.highlight .code {
  border-left: 1px solid #fff;
  color: #666;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
#header {
  display: block;
  margin: 2.5rem 0 1.5rem;
  position: relative;
  *zoom: 1;
}
#header:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
.blog-title {
  float: left;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 0.2em;
  letter-spacing: 0.2em;
  margin: 10px 0;
  border-bottom: 5px solid #000;
}
.blog-title:hover {
  border-color: #33a6b8;
}
.blog-title:hover a {
  color: #33a6b8;
}
.blog-title a {
  position: relative;
  left: 0.1em;
  padding: 0.4em 0;
}
.mobile-nav-panel {
  display: none;
  padding: 15px 0 0;
}
.mobile-nav-panel .icon-reorder {
  cursor: pointer;
  display: inline-block;
  width: 18px;
  height: 17px;
  background: url("/images/icon-reorder@2x.png") no-repeat 0 0;
  -webkit-background-size: 18px 17px;
  -moz-background-size: 18px 17px;
  background-size: 18px 17px;
}
.nav {
  margin: 10px 0;
  font-size: 1.4rem;
  float: right;
  position: relative;
}
.nav ul {
  display: block;
  *zoom: 1;
  margin: 0;
  padding: 0;
}
.nav ul:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
.nav li {
  float: left;
  margin: 0.3em 0 0.3em 2em;
}
.nav li img {
  vertical-align: middle;
}
.nav a {
  font-weight: bold;
  color: #000;
}
.nav a:hover {
  color: #33a6b8;
}
.nav-icon {
  font-family: FontAwesome;
  text-align: center;
  font-size: font-size;
  width: font-size;
  height: font-size;
  padding: 20px 8px;
  position: relative;
  cursor: pointer;
}
#nav-rss-link:before {
  content: "\f09e";
}
#nav-search-btn:before {
  content: "\f002";
}
#search-form-wrap {
  display: none;
  position: absolute;
  top: 10px;
  width: 150px;
  height: 30px;
  right: 280px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
#search-form-wrap.on {
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  right: 55px;
}
@media (max-width: 767px) {
  #search-form-wrap {
    width: 100%;
    left: -100%;
  }
}
.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 3px 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.search-form-input {
  border: none;
  background: none;
  color: #000;
  letter-spacing: 1px;
  width: 90%;
  font: 13px 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-form-submit {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  font: 13px FontAwesome;
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
}
.search-form-submit:hover,
.search-form-submit:focus {
  color: #777;
}
body {
  width: 85.5rem;
  margin: 0 auto;
  line-height: 1.5;
}
.hero img {
  width: 100%;
}
.entry-header {
  text-align: center;
  margin-bottom: 1.5rem;
  padding-bottom: 3rem;
  line-height: 1.6;
  border-bottom: 1px solid #ccc;
}
.entry-header h1 {
  font-size: 2.5rem;
  font-weight: normal;
}
.entry-header h1 span {
  margin-left: 0.7rem;
  font-size: 1.6rem;
  color: #666;
}
.entry-header img {
  display: block;
  max-width: 100%;
  margin: 0 auto 3rem;
  padding: 0.7rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.entry-author {
  font-size: 2.5rem;
}
.date {
  font-weight: bold;
}
.date a {
  color: #000;
}
.date a:hover {
  color: #33a6b8;
}
hr {
  display: none;
}
.entry-content {
  padding-right: 25.5rem;
}
.entry-content section {
  position: relative;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}
.entry-content footer {
  margin-top: 3rem;
  padding: 0.3rem 0 0.3rem 0.8rem;
  font-size: 1.4rem;
  border-left: 0.5rem solid #ccc;
}
.entry-content footer p {
  margin-bottom: 0.3rem;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 0;
}
.entry-content h2 {
  display: inline-block;
  margin-bottom: 2rem;
  padding-right: 0.5em;
  font-size: 1.6rem;
  background: #fff;
}
.entry-content h2::after {
  content: "";
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: -1;
  display: block;
  width: 58rem;
  border-bottom: 1px solid #ccc;
}
.entry-content h3 {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}
.entry-content h4 {
  font-size: 1.4rem;
}
.entry-content p {
  margin-bottom: 1em;
}
.entry-content a {
  border-bottom: dotted 1px #999;
}
.entry-content ul {
  margin-left: 1.5em;
  margin-bottom: 1rem;
}
.entry-content ul li {
  margin-bottom: 0.2rem;
  list-style: disc;
}
.entry-content ul li h4 {
  position: relative;
  left: -9rem;
  height: 0;
  font-weight: normal;
}
.entry-content ol {
  margin-left: 2em;
  margin-bottom: 1.5rem;
  list-style: decimal;
}
.entry-content ol li {
  margin-bottom: 0.5rem;
}
.entry-content table {
  width: 100%;
  margin: 0.5rem 0;
  border-collapse: collapse;
}
.entry-content th,
.entry-content td {
  padding: 1.2rem 1em;
  border-bottom: 1px solid #ccc;
}
.entry-content iframe {
  width: 100%;
  height: 35rem;
  display: block;
  margin: 1rem 0;
  padding: 0.7rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 1px #ccc;
  box-shadow: 0 0 0 1px #ccc;
}
.entry-content aside {
  position: absolute;
  top: 0;
  right: -25.5rem;
  width: 25.5rem;
  padding: 2rem 0 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.4rem;
  line-height: 1.5;
  border: none;
}
.entry-content aside h3 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.entry-content aside ul {
  margin: 0;
}
.entry-content aside ul li {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
  border: none;
}
.entry-content aside th,
.entry-content aside td {
  padding: 0.5rem 0;
  text-align: center;
  border: 1px solid #ccc;
}
.entry-content aside th {
  background: #eee;
}
.entry-content aside img {
  width: 100%;
  padding: 0.7rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.entry-content .introduction {
  line-height: 1.8;
}
.entry-content .introduction::before {
  border: none;
}
.entry-content .story h3 {
  margin-left: -0.8rem;
}
.entry-content .story .credits {
  font-size: 1.4rem;
}
.entry-content .member {
  font-size: 1.6rem;
}
.entry-content .member ul {
  font-size: 0;
}
.entry-content .member li {
  display: inline-block;
  width: 33.3%;
  margin-bottom: 2rem;
  padding: 0;
  vertical-align: top;
  font-size: 1.6rem;
}
.entry-content .member li strong {
  display: block;
  font-size: 1.3rem;
}
.entry-content .member li span {
  display: block;
  font-size: 1.3rem;
  color: #666;
}
.entry-content .timetable table {
  border-collapse: separate;
  border-spacing: 1rem;
}
.entry-content .timetable th,
.entry-content .timetable td {
  empty-cells: hide;
  text-align: center;
  border: 1px solid #ccc;
}
.entry-content .timetable th:first-child,
.entry-content .timetable td:first-child {
  width: 9rem;
  text-align: left;
  border: none;
}
.entry-content .timetable th + th,
.entry-content .timetable td + td {
  position: relative;
  left: 1rem;
}
.entry-content .access ul {
  margin: 0.5rem 0 2rem 2.5rem;
  font-size: 1.4rem;
}
.entry-content .access li {
  padding: 0;
  list-style: disc;
  border: none;
}
.entry-content .gallery .js-masonry {
  width: 59rem;
}
.entry-content .gallery .item {
  width: 19rem;
  height: 19rem;
  overflow: hidden;
  margin: 0 0.5rem 0.5rem 0;
}
.entry-content .gallery .item:hover {
  cursor: pointer;
}
.entry-content .gallery .item.w2 {
  width: 38.5rem;
}
.entry-content .gallery .item.w3 {
  width: 58rem;
}
.entry-content .gallery .item.h2 {
  height: 38.5rem;
}
.entry-content .gallery .item.h3 {
  height: 58rem;
}
.entry-content .gallery .item.silver {
  height: 27.2rem;
}
.entry-content .gallery .item.silver-landscape {
  height: 12.5rem;
}
.entry-content .gallery img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: auto;
}
.entry-content .gallery img.landscape {
  width: auto;
  height: 100%;
}
.entry-content .history h3 {
  font-weight: bold;
}
.entry-content .history ul {
  margin-left: 0;
}
.entry-content .history li {
  margin-bottom: 0.7rem;
  list-style: none;
}
.entry-content .history li > span {
  font-size: 1.4rem;
  color: #666;
}
.entry-content .history li > span::before {
  padding: 0 0.2rem 0 0.4rem;
  content: "–";
}
.entry-content .authors ul {
  font-size: 0;
}
.entry-content .authors li {
  display: inline-block;
  width: 33.3%;
  margin-bottom: 0.5rem;
  padding: 0;
  text-align: center;
  font-size: 1.6rem;
}
.entry-content .authors li a {
  display: block;
  padding: 1rem 0;
  border: none;
}
.entry-content .authors li span {
  display: block;
  font-size: 1.3rem;
  font-weight: normal;
  color: #666;
}
.entry-content .authors li img {
  display: block;
  width: 60%;
  margin: 0 auto 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.entry-content .authors strong {
  font-size: 1.3rem;
}
.entry-footer {
  position: relative;
}
.entry-meta-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25rem;
  padding-left: 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.4rem;
}
.entry-meta-footer li {
  display: inline-block;
  margin: 0 1rem 1rem 1rem;
}
.entry-meta-footer a {
  position: relative;
  display: block;
  padding: 0.3em 0.5em 0.3em 0.5em;
  background: #333;
  color: #fff;
}
.entry-meta-footer a::before {
  position: absolute;
  top: 0;
  left: -1.5rem;
  content: '';
  width: 0;
  height: 0;
  border-color: transparent #333 transparent transparent;
  border-style: solid;
  border-width: 1.5rem 1.5rem 1.5rem 0;
}
.entry-meta-footer a::after {
  position: absolute;
  top: 50%;
  left: -0.3rem;
  z-index: 1;
  display: block;
  content: '';
  width: 0.6rem;
  height: 0.6rem;
  margin-top: -0.3rem;
  background-color: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.page aside table,
.page aside th,
.page aside td {
  text-align: center;
  border: 1px solid #ccc;
}
.page aside th {
  background: #eee;
}
.page aside img {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.article-gallery {
  background: #000;
  position: relative;
  margin-bottom: 20px;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
#article-nav {
  clear: both;
  zoom: 1;
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 6em 0 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    -webkit-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ddd;
    -webkit-box-shadow: 0 1px 2px #fff;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #555;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.archive .post {
  position: relative;
  margin: 2rem 0;
  border-bottom: 1px solid #ccc;
}
.archive .entry-meta-header {
  position: absolute;
  top: 0.5rem;
  left: 0;
}
.archive .entry-header {
  margin: 0;
  padding: 0 0 2rem;
  border: none;
}
.archive .entry-header h1 {
  font-size: 1.8rem;
}
.archive .entry-content {
  padding: 0;
}
@media (max-width: 600px) {
  .archive .post {
    margin: 1rem 0;
    padding-left: 0;
  }
  .archive .entry-meta-header {
    position: static;
  }
  .archive .entry-header h1 {
    font-size: 1.6rem;
  }
}
#page-nav {
  text-align: center;
  text-transform: uppercase;
  font-size: 95%;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#page-nav a,
#page-nav span {
  display: inline-block;
  min-width: 1.2em;
  padding: 6px 8px;
  margin: 1px 5px 1px 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#page-nav a {
  color: #000;
  text-decoration: none;
}
#page-nav a:hover {
  background-color: #f5f5f5;
}
#page-nav .page-number {
  display: inline-block;
}
#page-nav .current {
  background: #ccc;
  color: #fff;
}
#page-nav .space {
  color: #ccc;
}
#page-nav .next {
  min-width: 5em;
}
.mb-search {
  display: none;
}
#footer {
  margin: 3em 0;
  font-size: 1.4rem;
  display: block;
  *zoom: 1;
  line-height: 1.6;
}
#footer:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
#footer .footer-blog-title {
  float: left;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding-bottom: 0.2em;
  letter-spacing: 0.2em;
  margin: 1em 1.5em 0 0;
  border-bottom: 3px solid #777;
}
#footer .footer-blog-title a {
  position: relative;
  left: 0.1em;
  padding: 0.4em 0;
  color: #777;
}
#footer .footer-blog-title:hover {
  border-color: #33a6b8;
}
#footer .footer-blog-title:hover a {
  color: #33a6b8;
}
#footer .copyright {
  display: block;
}
@media (min-width: 601px) and (max-width: 1000px) {
  body {
    width: 70rem;
    font-size: 1.4rem;
  }
  footer {
    font-size: 1.3rem;
  }
  .entry-content {
    padding-right: 21.5rem;
    font-size: 1.4rem;
  }
  .entry-content h2::after {
    width: 47.5rem;
  }
  .entry-content h3 {
    font-size: 1.4rem;
  }
  .entry-content section {
    padding-right: 1rem;
  }
  .entry-content aside {
    right: -20rem;
    width: 20rem;
    padding: 1rem 0 0 1rem;
    font-size: 1.3rem;
  }
  .entry-content aside h3 {
    font-size: 1.3rem;
  }
  .entry-content .member li {
    font-size: 1.6rem;
  }
  .entry-content .member li strong,
  .entry-content .member li span {
    font-size: 1.3rem;
  }
  .entry-content .gallery .js-masonry {
    width: 48.5rem;
  }
  .entry-content .gallery .item {
    width: 15.5rem;
    height: 15.5rem;
    overflow: hidden;
    margin: 0 0.5rem 0.5rem 0;
  }
  .entry-content .gallery .item.w2 {
    width: 31rem;
  }
  .entry-content .gallery .item.w3 {
    width: 47.5rem;
  }
  .entry-content .gallery .item.h2 {
    height: 31rem;
  }
  .entry-content .gallery .item.h3 {
    height: 47.5rem;
  }
  .entry-content .gallery .item.silver {
    height: 22.7rem;
  }
  .entry-content .history li {
    margin-bottom: 0.7rem;
  }
  .entry-content .history li > span {
    font-size: 1.3rem;
    color: #666;
  }
  .entry-content .history li > span::before {
    padding: 0 0.2rem 0 0.4rem;
    content: "–";
  }
  .entry-content .authors li {
    font-size: 1.6rem;
  }
  .entry-content .authors li strong,
  .entry-content .authors li span {
    font-size: 1.3rem;
  }
  .entry-meta-footer {
    width: 21.5rem;
    padding-left: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.4rem;
  }
}
@media (max-width: 600px) {
  body {
    width: 90%;
    font-size: 1.4rem;
  }
  .mobile-nav-panel {
    display: block;
  }
  .nav {
    height: 0;
    width: 100%;
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #4f5759;
  }
  .nav.active {
    height: auto;
    overflow: visible;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .nav ul {
    display: block;
  }
  .nav ul li {
    display: block;
    width: 100%;
    margin: 0;
  }
  .nav ul li a {
    display: block;
    border: none;
    padding: 1em 0.5em;
    color: #fff;
    border-bottom: 1px solid #677174;
    text-align: left;
  }
  #header {
    margin: 0 0 2em 0;
    text-align: center;
    position: static;
  }
  .blog-title {
    float: none;
  }
  .entry-author {
    font-size: 1.8rem;
  }
  .entry-header h1 {
    font-size: 1.8rem;
  }
  .entry-generation {
    font-size: 1.2rem;
  }
  .entry-content {
    padding-right: 0;
  }
  .entry-content section {
    padding: 0 0 5rem;
    border: none;
  }
  .entry-content h2 {
    font-size: 1.4rem;
  }
  .entry-content h2::after {
    width: 100%;
  }
  .entry-content h3 {
    font-size: 1.6rem;
  }
  .entry-content iframe {
    height: 20rem;
  }
  .entry-content aside {
    position: static;
    top: 0;
    left: 0;
    width: 80%;
    margin: 0 auto;
    padding: 0 0 6rem;
  }
  .entry-content aside h3 {
    font-size: 1.2rem;
  }
  .entry-content aside img {
    width: 50%;
  }
  .entry-content .member {
    font-size: 1.5rem;
  }
  .entry-content .member li {
    width: 50%;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  .entry-content .member li strong,
  .entry-content .member li span {
    font-size: 1.2rem;
  }
  .entry-content .member strong {
    font-size: 1.2rem;
  }
  .entry-content .timetable th:first-child,
  .entry-content .timetable td:first-child {
    width: 8rem;
  }
  .entry-content .gallery .js-masonry {
    width: 91.5vw;
  }
  .entry-content .gallery .item {
    width: 29vw;
    height: 29vw;
    overflow: hidden;
    margin: 0 1.5vw 1.5vw 0;
  }
  .entry-content .gallery .item.w2 {
    width: 59.5vw;
  }
  .entry-content .gallery .item.w3 {
    width: 90vw;
  }
  .entry-content .gallery .item.h2 {
    height: 59.5vw;
  }
  .entry-content .gallery .item.h3 {
    height: 90vw;
  }
  .entry-content .gallery .item.silver {
    height: 40.5vw;
  }
  .entry-content .authors {
    font-size: 1.5rem;
  }
  .entry-content .authors li {
    width: 50%;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  .entry-content .authors li strong,
  .entry-content .authors li span {
    font-size: 1.2rem;
  }
  .entry-content .authors strong {
    font-size: 1.2rem;
  }
  .pagenation span,
  .pagenation a {
    padding: 5px;
    margin: 0;
  }
  #footer {
    margin: 0 0 3em 0;
  }
  #footer .footer-blog-title {
    float: none;
    margin-bottom: 1em;
  }
}
